/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Void
 * ════════════════════════════════════════════════════════
 */

@define-color waybar_accent rgba(192, 168, 224, 0.28);
@define-color waybar_accent_fg @on_background;
@define-color on_background #D8C8F0;
@define-color surface_container #271e1a;
@define-color error #ffb4ab;
