/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Kanagawa
 * ════════════════════════════════════════════════════════
 */

@define-color waybar_accent rgba(200, 192, 147, 0.28);
@define-color waybar_accent_fg @on_background;
@define-color on_background #E0D8B0;
@define-color surface_container #2A2A37;
@define-color error #C34043;
