/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Kanagawa
 * ════════════════════════════════════════════════════════
 */

@define-color background     #1F1F28;
@define-color foreground     #DCD7BA;
@define-color black          #16161D;
@define-color red            #C34043;
@define-color green          #76946A;
@define-color yellow         #C0A36E;
@define-color blue           #7E9CD8;
@define-color magenta        #957FB8;
@define-color cyan           #6A9589;
@define-color white          #C8C093;
@define-color bright_black   #727169;
@define-color bright_white   #DCD7BA;

/* Accent colors */
@define-color accent_bg_color #7E9CD8;
@define-color accent_fg_color #16161D;
@define-color accent_color #7E9CD8;

/* Window colors */
@define-color window_bg_color #1F1F28;
@define-color window_fg_color #DCD7BA;

/* View colors */
@define-color view_bg_color #1F1F28;
@define-color view_fg_color #DCD7BA;

/* Sidebar colors */
@define-color sidebar_bg_color #16161D;
@define-color sidebar_fg_color #DCD7BA;
@define-color sidebar_backdrop_color #1F1F28;
@define-color sidebar_shade_color #1F1F28;

/* Headerbar colors */
@define-color headerbar_bg_color #16161D;
@define-color headerbar_fg_color #DCD7BA;
@define-color headerbar_backdrop_color #1F1F28;
@define-color headerbar_shade_color #1F1F28;

/* Card colors */
@define-color card_bg_color #2A2A37;
@define-color card_fg_color #DCD7BA;

/* Popover colors */
@define-color popover_bg_color #2A2A37;
@define-color popover_fg_color #DCD7BA;

/* Dialog colors */
@define-color dialog_bg_color #2A2A37;
@define-color dialog_fg_color #DCD7BA;

/* Semantic status colors */
@define-color destructive_bg_color #C34043;
@define-color destructive_fg_color #16161D;
@define-color destructive_color #C34043;

@define-color success_bg_color #76946A;
@define-color success_fg_color #16161D;
@define-color success_color #76946A;

@define-color warning_bg_color #C0A36E;
@define-color warning_fg_color #16161D;
@define-color warning_color #C0A36E;

@define-color error_bg_color #C34043;
@define-color error_fg_color #16161D;
@define-color error_color #C34043;

/* Legacy theme colors */
@define-color borders alpha(@foreground, 0.1);

@define-color theme_fg_color @foreground;
@define-color theme_text_color @foreground;
@define-color theme_bg_color @background;
@define-color theme_base_color @black;
@define-color theme_selected_bg_color @accent_bg_color;
@define-color theme_selected_fg_color @accent_fg_color;

@define-color insensitive_bg_color @background;
@define-color insensitive_fg_color @bright_black;
@define-color insensitive_base_color @black;

@define-color theme_unfocused_fg_color @foreground;
@define-color theme_unfocused_text_color @foreground;
@define-color theme_unfocused_bg_color @background;
@define-color theme_unfocused_base_color @black;
@define-color theme_unfocused_selected_bg_color @accent_bg_color;
@define-color theme_unfocused_selected_fg_color @accent_fg_color;

@define-color unfocused_insensitive_color @bright_black;
@define-color unfocused_borders alpha(@foreground, 0.1);

@define-color content_view_bg @view_bg_color;
@define-color text_view_bg @view_bg_color;

/* Widget styling */
messagedialog {
    background-color: @dialog_bg_color;
}

messagedialog label {
    color: @dialog_fg_color;
}

banner revealer widget {
    background: @bright_black;
    padding: 5px;
    color: @foreground;
}

alertdialog.background {
    background-color: @dialog_bg_color;
    color: @dialog_fg_color;
}

alertdialog box {
    background-color: @dialog_bg_color;
}

alertdialog label {
    color: @dialog_fg_color;
}

toast {
    background-color: @card_bg_color;
    color: @foreground;
}
