/**
 * Symphony by https://github.com/vyrx-dev
 * Theme: Nordic
 * Based on: midnight by refact0r
 * @name midnight
 * @description A dark, rounded discord theme.
 * @author refact0r
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/midnight.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
 */

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

/* customize things here */
:root {
  /* font, change to 'gg sans' for default discord font*/
  --font: 'figtree';

  /* top left corner text */
  --corner-text: 'Symphony';

  /* color of status indicators and window controls */
  --online-indicator: #a3be8c; /* online status */
  --dnd-indicator: #bf616a; /* do not disturb */
  --idle-indicator: #ebcb8b; /* idle/away */
  --streaming-indicator: #b48ead; /* streaming */

  /* accent colors */
  --accent-1: #8fbcbb; /* links */
  --accent-2: #8fbcbb; /* general unread/mention elements, some icons when active */
  --accent-3: #8fbcbb; /* accent buttons */
  --accent-4: #81a1c1; /* accent buttons when hovered */
  --accent-5: #88c0d0; /* accent buttons when clicked */
  --mention: #81a1c1; /* mentions & mention messages */
  --mention-hover: #88c0d0; /* mentions & mention messages when hovered */

  /* text colors */
  --text-0: #2e3440; /* text on colored elements */
  --text-1: #eceff4; /* other normally white text */
  --text-2: #d8dee9; /* headings and important text */
  --text-3: #e5e9f0; /* normal text */
  --text-4: #d8dee9; /* icon buttons and channels */
  --text-5: #4c566a; /* muted channels/chats and timestamps */

  /* background and dark colors */
  --bg-1: #3b4252; /* dark buttons when clicked */
  --bg-2: #434c5e; /* dark buttons */
  --bg-3: #3b4252; /* spacing, secondary elements */
  --bg-4: #2e3440; /* main background color */
  --hover: #434c5e; /* channels and buttons when hovered */
  --active: #4c566a; /* channels and buttons when clicked or selected */
  --message-hover: #3b4252; /* messages when hovered */

  /* amount of spacing and padding */
  --spacing: 12px;

  /* animations */
  /* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
  --list-item-transition: 0.2s ease;
  /* channels/members/settings hover transition */
  --unread-bar-transition: 0.2s ease;
  /* unread bar moving into view transition */
  --moon-spin-transition: 0.4s ease;
  /* moon icon spin */
  --icon-spin-transition: 1s ease;
  /* round icon button spin (settings, emoji, etc.) */

  /* corner roundness (border-radius) */
  --roundness-xl: 22px;
  /* roundness of big panel outer corners */
  --roundness-l: 20px;
  /* popout panels */
  --roundness-m: 16px;
  /* smaller panels, images, embeds */
  --roundness-s: 12px;
  /* members, settings inputs */
  --roundness-xs: 10px;
  /* channels, buttons */
  --roundness-xxs: 8px;
  /* searchbar, small elements */

  /* direct messages moon icon */
  /* change to block to show, none to hide */
  --discord-icon: none;
  /* discord icon */
  --moon-icon: block;
  /* moon icon */
  --moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg');
  /* custom icon url */
  --moon-icon-size: auto;

  /* filter uncolorable elements to fit theme */
  /* (just set to none, they're too much work to configure) */
  --login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4);
  /* login background artwork */
  --green-to-accent-3-filter: hue-rotate(170deg) saturate(0.8);
  /* add friend page explore icon */
  --blurple-to-accent-3-filter: hue-rotate(170deg) saturate(0.7) brightness(1.1);
  /* add friend page school icon */
}

/* Selected chat/friend text */
.selected_f5eb4b,
.selected_f6f816 .link_d8bfb3 {
  color: var(--text-0) !important;
  background: var(--accent-3) !important;
}

.selected_f6f816 .link_d8bfb3 * {
  color: var(--text-0) !important;
  fill: var(--text-0) !important;
}
