/* Symphony - Dynamic (matugen) */
.theme-dark, .theme-light {
  --background-primary: #0e1514;
  --background-primary-alt: #1a2120;
  --background-secondary: #252b2a;
  --background-secondary-alt: #1a2120;
  --background-modifier-hover: #2f3635;
  --background-modifier-border: #3f4947;

  --text-normal: #dde4e2;
  --text-muted: #bec9c7;
  --text-faint: #889391;
  --text-on-accent: #003734;

  --interactive-accent: #81d5ce;
  --interactive-accent-hover: #00504c;
  --text-accent: #81d5ce;
  --text-accent-hover: #00504c;

  --link-color: #81d5ce;
  --link-color-hover: #b0c9e7;
  --link-external-color: #b0ccc9;

  --code-background: #1a2120;
  --code-normal: #dde4e2;

  --text-error: #ffb4ab;
  --text-success: #b0c9e7;
  --text-warning: #b0ccc9;

  --divider-color: #3f4947;
  --icon-color: #bec9c7;
  --icon-color-hover: #dde4e2;
  --tag-color: #81d5ce;
  --tag-background: #252b2a;
}

::selection { background: #81d5ce40; }
