/* Symphony - Dynamic (matugen) */
.theme-dark, .theme-light {
  --background-primary: #18130b;
  --background-primary-alt: #241f17;
  --background-secondary: #2f2921;
  --background-secondary-alt: #241f17;
  --background-modifier-hover: #3a342b;
  --background-modifier-border: #4f4539;

  --text-normal: #ede1d4;
  --text-muted: #d2c4b4;
  --text-faint: #9b8f80;
  --text-on-accent: #442c00;

  --interactive-accent: #f2be6e;
  --interactive-accent-hover: #614000;
  --text-accent: #f2be6e;
  --text-accent-hover: #614000;

  --link-color: #f2be6e;
  --link-color-hover: #b6cea3;
  --link-external-color: #dcc3a1;

  --code-background: #241f17;
  --code-normal: #ede1d4;

  --text-error: #ffb4ab;
  --text-success: #b6cea3;
  --text-warning: #dcc3a1;

  --divider-color: #4f4539;
  --icon-color: #d2c4b4;
  --icon-color-hover: #ede1d4;
  --tag-color: #f2be6e;
  --tag-background: #2f2921;
}

::selection { background: #f2be6e40; }
