/**
 * Symphony by https://github.com/vyrx-dev
 * Theme: Kanagawa
 * Based on: midnight by refact0r
 * @name midnight
 * @description A dark, rounded discord theme.
 * @author refact0r
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/midnight.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
 */

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

/* customize things here */
:root {
  /* font, change to 'gg sans' for default discord font*/
  --font: 'figtree';

  /* top left corner text */
  --corner-text: 'Symphony';

  /* color of status indicators and window controls */
  --online-indicator: #98BB6C; /* online status (springGreen) */
  --dnd-indicator: #C34043; /* do not disturb (autumnRed) */
  --idle-indicator: #FFA066; /* idle/away (surimiOrange) */
  --streaming-indicator: #957FB8; /* streaming (oniViolet) */

  /* accent colors */
  --accent-1: #7E9CD8; /* links (crystalBlue) */
  --accent-2: #7E9CD8; /* general unread/mention elements, some icons when active */
  --accent-3: #7E9CD8; /* accent buttons */
  --accent-4: #7FB4CA; /* accent buttons when hovered (springBlue) */
  --accent-5: #7FB4CA; /* accent buttons when clicked */
  --mention: #223249; /* mentions & mention messages (waveBlue1) */
  --mention-hover: #2D4F67; /* mentions & mention messages when hovered (waveBlue2) */

  /* text colors */
  --text-0: #1F1F28; /* text on colored elements (sumiInk3) */
  --text-1: #DCD7BA; /* other normally white text (fujiWhite) */
  --text-2: #DCD7BA; /* headings and important text */
  --text-3: #C8C093; /* normal text (oldWhite) */
  --text-4: #727169; /* icon buttons and channels (fujiGray) */
  --text-5: #54546D; /* muted channels/chats and timestamps (sumiInk6) */

  /* background and dark colors */
  --bg-1: #2A2A37; /* dark buttons when clicked (sumiInk4) */
  --bg-2: #363646; /* dark buttons (sumiInk5) */
  --bg-3: #2A2A37; /* spacing, secondary elements */
  --bg-4: #1F1F28; /* main background color (sumiInk3) */
  --hover: #363646; /* channels and buttons when hovered */
  --active: #54546D; /* channels and buttons when clicked or selected */
  --message-hover: #2A2A37; /* messages when hovered */

  /* amount of spacing and padding */
  --spacing: 12px;

  /* animations */
  /* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
  --list-item-transition: 0.2s ease;
  /* channels/members/settings hover transition */
  --unread-bar-transition: 0.2s ease;
  /* unread bar moving into view transition */
  --moon-spin-transition: 0.4s ease;
  /* moon icon spin */
  --icon-spin-transition: 1s ease;
  /* round icon button spin (settings, emoji, etc.) */

  /* corner roundness (border-radius) */
  --roundness-xl: 22px;
  /* roundness of big panel outer corners */
  --roundness-l: 20px;
  /* popout panels */
  --roundness-m: 16px;
  /* smaller panels, images, embeds */
  --roundness-s: 12px;
  /* members, settings inputs */
  --roundness-xs: 10px;
  /* channels, buttons */
  --roundness-xxs: 8px;
  /* searchbar, small elements */

  /* direct messages moon icon */
  /* change to block to show, none to hide */
  --discord-icon: none;
  /* discord icon */
  --moon-icon: block;
  /* moon icon */
  --moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg');
  /* custom icon url */
  --moon-icon-size: auto;

  /* filter uncolorable elements to fit theme */
  /* (just set to none, they're too much work to configure) */
  --login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4);
  /* login background artwork */
  --green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43);
  /* add friend page explore icon */
  --blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2);
  /* add friend page school icon */
}

/* Selected chat/friend text */
.selected_f5eb4b,
.selected_f6f816 .link_d8bfb3 {
  color: var(--text-0) !important;
  background: var(--accent-3) !important;
}

.selected_f6f816 .link_d8bfb3 * {
  color: var(--text-0) !important;
  fill: var(--text-0) !important;
}
