/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Nordic
 * ════════════════════════════════════════════════════════
 */

@define-color waybar_accent rgba(143, 188, 187, 0.28);
@define-color waybar_accent_fg @on_background;
@define-color on_background #D8DEE9;
@define-color surface_container #3b4252;
@define-color error #bf616a;
