/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Espresso
 * ════════════════════════════════════════════════════════
 */

@define-color waybar_accent rgba(240, 228, 220, 0.28);
@define-color waybar_accent_fg @on_background;
@define-color on_background #F5EDE6;
@define-color surface_container #2e2520;
@define-color error #e8a090;
