/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Gruvbox Material
 * ════════════════════════════════════════════════════════
 */

@define-color waybar_accent rgba(212, 190, 152, 0.28);
@define-color waybar_accent_fg @on_background;
@define-color on_background #E8D8B8;
@define-color surface_container #1e1f25;
@define-color error #ffb4ab;
