/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Forest
 * ════════════════════════════════════════════════════════
 */

@define-color waybar_accent rgba(208, 232, 200, 0.28);
@define-color waybar_accent_fg @on_background;
@define-color on_background #E8F5E8;
@define-color surface_container #1e1f25;
@define-color error #ffb4ab;
