/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Tokyo Night
 * ════════════════════════════════════════════════════════
 */

@define-color waybar_accent rgba(169, 177, 214, 0.28);
@define-color waybar_accent_fg @on_background;
@define-color on_background #D0D8F0;
@define-color surface_container #1f2335;
@define-color error #f7768e;
