/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Rose Pine
 * ════════════════════════════════════════════════════════
 */

@define-color waybar_accent rgba(224, 222, 244, 0.25);
@define-color waybar_accent_fg @on_background;
@define-color on_background #E0DEF4;
@define-color surface_container #271e19;
@define-color error #ffb4ab;
