/**
 * @name Symphony Discord
 * @author vyrx
 * @version 1.0.0
 * @description Dynamic Symphony theme for Discord
 * 
 * Based on midnight by refact0r
 * @website https://github.com/refact0r/midnight-discord
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

/* customize things here */
:root {
  /* font, change to 'gg sans' for default discord font*/
  --font: 'figtree';

  /* top left corner text */
  --corner-text: 'Symphony';

  /* color of status indicators and window controls */
  --online-indicator: #f2be6e; /* change to #23a55a for default green */
  --dnd-indicator: #ffb4ab; /* change to #f13f43 for default red */
  --idle-indicator: #b6cea3; /* change to #f0b232 for default yellow */
  --streaming-indicator: #dcc3a1; /* change to #593695 for default purple */

  /* accent colors */
  --accent-1: #b6cea3; /* links */
  --accent-2: #f2be6e; /* general unread/mention elements, some icons when active */
  --accent-3: #f2be6e; /* accent buttons */
  --accent-4: #614000; /* accent buttons when hovered */
  --accent-5: #f2be6e; /* accent buttons when clicked */
  --mention: #614000; /* mentions & mention messages */
  --mention-hover: #f2be6e; /* mentions & mention messages when hovered */

  /* text colors */
  --text-0: #442c00; /* text on colored elements */
  --text-1: #ede1d4; /* other normally white text */
  --text-2: #ede1d4; /* headings and important text */
  --text-3: #ede1d4; /* normal text */
  --text-4: #d2c4b4; /* icon buttons and channels */
  --text-5: #9b8f80; /* muted channels/chats and timestamps */

  /* background and dark colors */
  --bg-1: #18130b; /* dark buttons when clicked */
  --bg-2: #2f2921; /* dark buttons */
  --bg-3: #241f17; /* spacing, secondary elements */
  --bg-4: #18130b; /* main background color */
  --hover: #2f2921; /* channels and buttons when hovered */
  --active: #3a342b; /* channels and buttons when clicked or selected */
  --message-hover: #2f2921; /* messages when hovered */

  /* amount of spacing and padding */
  --spacing: 12px;

  /* animations */
  /* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
  --list-item-transition: 0.2s ease;
  /* channels/members/settings hover transition */
  --unread-bar-transition: 0.2s ease;
  /* unread bar moving into view transition */
  --moon-spin-transition: 0.4s ease;
  /* moon icon spin */
  --icon-spin-transition: 1s ease;
  /* round icon button spin (settings, emoji, etc.) */

  /* corner roundness (border-radius) */
  --roundness-xl: 22px;
  /* roundness of big panel outer corners */
  --roundness-l: 20px;
  /* popout panels */
  --roundness-m: 16px;
  /* smaller panels, images, embeds */
  --roundness-s: 12px;
  /* members, settings inputs */
  --roundness-xs: 10px;
  /* channels, buttons */
  --roundness-xxs: 8px;
  /* searchbar, small elements */

  /* direct messages moon icon */
  /* change to block to show, none to hide */
  --discord-icon: none;
  /* discord icon */
  --moon-icon: block;
  /* moon icon */
  --moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg');
  /* custom icon url */
  --moon-icon-size: auto;

  /* filter uncolorable elements to fit theme */
  /* (just set to none, they're too much work to configure) */
  --login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4);
  /* login background artwork */
  --green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43);
  /* add friend page explore icon */
  --blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2);
  /* add friend page school icon */
}

/* Selected chat/friend text */
.selected_f5eb4b,
.selected_f6f816 .link_d8bfb3 {
  color: var(--bg-4) !important;
  background: var(--accent-3) !important;
}

.selected_f6f816 .link_d8bfb3 * {
  color: var(--bg-4) !important;
  fill: var(--bg-4) !important;
}
