/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Sakura
 * ════════════════════════════════════════════════════════
 */

@define-color waybar_accent rgba(242, 155, 154, 0.28);
@define-color waybar_accent_fg @on_background;
@define-color on_background #F5EDF0;
@define-color surface_container #1a2121;
@define-color error #ffb4ab;
